@media screen and (max-width:440px)  {

    .line,
    .phone,
    .order-call,
    .resp-lang,
    .second-menu,
    .headphones {
        display: none;
    }

    .header {
       width: 100vw;
       height: 76px;
        left: 0;
        transform: translate(0);
    }

    .logo {
        background-image: url(../img/Logo.png);
        min-width: 63px;
        height: 36px;
        background-size: cover;
        margin-top: 14px;
        margin-left: 60px;
    }

    .toggle-button {
        display: flex;
        left: 87%;
        top: 55%;
        transform: translatey(-50%);
    }


    .icons {
        display: flex;
        position: absolute;
        right: 17%;
        top: 40%;
    }


    
    .search-input{
        width: 100%;
    }
       
    .arrow-right-menu {
        display: block;

    }

    .navbar.active::before {
        transform: translateY(0px) rotate(50deg);
    }

    .resp-lang-menu{
        display: flex;
    }


    .arrow-right-menu,
    .resp-menu-line,
    .resp-lang-menu,
    .resp-neu-li {
        display: block;
    }
    .resp-menu ul li {
        color: var(--redColor);
        line-height: 15px;
    }
    .second-menu {
        display: none;
    }

    .menu_holder {
        width: 98%;
        height: 250px;
        background-image: url("../img/bachground3.png");
        background-size: cover;
    }


    .credit {
        font-size: 112.5%;
    }

    .border_div {
        width: 51px;
    }
    .footer{
        margin-top: 24px;
        height: 402px;
    }
    .footer-items {
        display: none;
    }

    .resp-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 375px;
        margin-top: 15px;
    }
 
    .resp-hr{
        display: block;
        justify-content: center;
        align-items: center;
    }

    .resp-menu ul li {
        text-decoration: none;
        list-style-type: none;
        display: inline;
        font-size: 87.5%;  
        padding: 6px;
    }

    .resp-menu ul li {
        color: var(--redColor);
        line-height: 15px;
    }

    .info {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 402px;
        width: 267px;
        margin-top: -19px;
    }

    .info p {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .info a{
            text-align: center;

    }

    .resp-footer-line {
        color: rgb(245, 238, 238);
        width: 295px;
    }

    .copy {
        width: 276px;
        margin-top: 24px;
    }

    .copy1 {
        width: 350px;
    }

   

    .footer-img {
        display: block;
        position: absolute;
        left: 40%;
        margin-top: 130px;
    }
}
